# Go-specific ignores
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
# vendor/

# Node.js dependencies
node_modules

# Svelte-specific ignores
.output
.vercel
/.svelte-kit
/build

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example
!.env.test

# Vite specific
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# VSCode settings
.vscode/settings.json

